<div class="d-flex">
  <div [class.collapsed]="isSidebarCollapsed" class="sidebar bg-light">
    <div class="d-flex align-content-center">
      <button (click)="toggleSidebar()" class="nada link-text titulo"><i class="fas fa-bars"></i></button>
      <!-- <p class="nada titulo menutitle"> Menu</p> -->
    </div>
    
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <i class="fas fa-chart-pie"></i>
          <span class="link-text titulo">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-user"></i>
          <span class="link-text titulo">Eleitores</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-user-check"></i>
          <span class="link-text titulo">Candidatos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-money-check"></i>
          <span class="link-text titulo">Votar</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-chart-line"></i>
          <span class="link-text titulo">Apuração</span>
        </a>
      </li>
    </ul>
  </div>
  <div [class.expanded]="isSidebarCollapsed" class="content flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
