.sidebar {
    width: 180px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    padding-top: 20px;
    transition: width 0.3s ease;
  
    .nav-link {
      display: flex;
      align-items: center;
      padding: 10px;
      color: var(--primaryColor );
      transition: padding 0.3s ease;
  
      i {
        margin-right: 10px;
      }
  
      .link-text {
        transition: opacity 0.3s ease, visibility 0.3s ease;
        color: var(--primaryColor);
      }
  
      &:hover {
        color: var(--DetailsColor);
      }
    }
  
    &.collapsed {
      width: 45px;
  
      .nav-link {
  
        i {
          margin-right: 0;
        }
  
        .link-text {
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }
  
  .content {
    margin-left: 160px;
    padding: 20px;
    transition: margin-left 0.3s ease;
  
    &.expanded {
      margin-left: 20px;
    }
  }

  .d-flex{
    padding: 10px;
  }
  .nada{
    border: none;
    background: none;
    margin-bottom: 0;
    padding: 0;
    color: var(--primaryColor);
    font-size: 18px;
  }
  .menutitle{
    margin-left: 5px;
  }











// .btn-proprio{
//     margin: 0 8px;
//     border-radius:42px;
//     display:inline-block;
//     cursor:pointer;
// }
// .btn-votar {
// 	background-color:#44c767;
// 	color:#ffffff;
// }
// .btn-votar:hover {
// 	background-color:#2ca65d;
// }
