@media (max-height: 650px) {
  .tituloTable{
      font-size: 2.5rem !important ;
  }
}
.tituloTable {
    margin: 0%;
    font-size: 4rem;
    border-radius: 20px 20px 0px 0px;
    padding: 0rem 4rem;
  }