<div class="container">
    <p class="titulo tituloTable">{{ tituloComponente }}</p>
     <div class="container card">
        
        <div class="card-body">
            <h5></h5>
            <form #formulario1="ngForm">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                    <div class="col">
                        <mdb-form-control>
                            <input [(ngModel)]="candidato.nomeCompleto"  minlength="2" mdbInput required pattern=".*\S+.*" type="text"
                                class="form-control" name="nomeCompleto" />
                            <label mdbLabel class="form-label" for="nomeCompleto">Nome Completo</label>
                        </mdb-form-control>
                    </div>
                    <div class="col">
                        <mdb-form-control>
                            <input [(ngModel)]="candidato.cpf" mdbInput pattern="\d{11}" type="text" class="form-control"
                                name="cpf" />
                            <label mdbLabel class="form-label" for="cpf">CPF</label>
                        </mdb-form-control>
                    </div>
                </div>
    
                <!-- Text input -->
                <mdb-form-control class="mb-4">
                    <select [(ngModel)]="candidato.funcao" mdbInput required type="select" class="form-select form-control" name="funcao">
                        <option selected>Selecione a Função...</option>
                        <option value="1">Prefeito</option>
                        <option value="2">Vereador</option>
                      </select>
                    <!-- <input   pattern=".*\S+.*"  class="form-control"                   name="profissao" /> -->
                    <label mdbLabel class="form-label" for="profissao">Fazer Select</label>
                </mdb-form-control>
    
                <!-- Text input -->
                <mdb-form-control class=" mb-4">
                    @if(candidato.funcao == 1){
                        <input [disabled]="false" [(ngModel)]="candidato.numero" mdbInput required pattern="\d{2}"  id="numero" type="number" class="form-control" name="numero" />
                        <label mdbLabel class="form-label" for="numero">Numero do Candidato</label>
                    }@else if(candidato.funcao == 2){
                        <input [disabled]="false" [(ngModel)]="candidato.numero" mdbInput required pattern="\d{5}"  id="numero" type="number" class="form-control" name="numero" />
                        <label mdbLabel class="form-label" for="numero">Numero do Candidato</label>
                    }
                    @else {
                        <input [disabled]="true" class="form-control"/>
                        <label mdbLabel class="form-label" for="numero">Numero do Candidato</label>

                    }
                    
                </mdb-form-control>
    
                <!-- Submit button -->
                @if(candidato.id == 0){
                <button [disabled]="!formulario1.valid" (click)="save()" class="btn btn-proprio">
                    Salvar
                </button>
                }@else{
                <button [disabled]="!formulario1.valid" (click)="update()" class="btn btn-proprio">
                    Atualizar
                </button>
                }
            </form>
        </div>
    </div>
</div>